<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    {%block titlt%}<title>Family Chorale</title>{%endblock%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Family Chorale website">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content="The Family Chorale" /> <!-- website name -->
    <meta property="og:site" content="familychorale.pythonanywhere.com" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="Family Chorale website" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->
    <link rel="stylesheet" type="text/css" href="{%static 'styles/bootstrap-4.1.2/bootstrap.min.css'%}">
    <link href="{%static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{%static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'plugins/OwlCarousel2-2.2.1/animate.css'%}">
    {%block link%}
    <link rel="stylesheet" type="text/css" href="{%static 'styles/main_styles.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'styles/responsive.css'%}">
    {%endblock%}
</head>

<body>
    <div class="super_container">

        {%block header%}
        <!-- Header -->
        <header class="header">
            <div class="header_content d-flex flex-row align-items-center justify-content-center">
                <div class="logo"><a href="#">Family Chorale</a></div>
                <div class="log_reg">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li><a href="{%url 'member-add'%}">Become a Member</a></li>

                    </ul>
                </div>
                <nav class="main_nav">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li class="active"><a href="{%url 'index'%}">Home</a></li>
                        <li><a href="{%url 'gallery'%}">Gallery</a></li>
                        <li><a href="{%url 'music'%}">Music</a></li>
                        <li><a href="{%url 'events'%}">Events</a></li>
                        <li><a href="{%url 'leaders'%}">Leaders</a></li>
                    </ul>
                </nav>
                <div class="hamburger ml-auto">
                    <div class="d-flex flex-column align-items-end justify-content-between">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </header>
        {%endblock%}
        {%block menu%}
        <!-- Menu -->

        <div class="menu">
            <div>
                <div class="menu_overlay"></div>
                <div class="menu_container d-flex flex-column align-items-start justify-content-center">
                    <div class="menu_log_reg">
                        <ul class="d-flex flex-row align-items-start justify-content-start">
                            <li><a href="{%url 'member-add'%}">Become a Member</a></li>
                        </ul>
                    </div>
                    <nav class="menu_nav">
                        <ul class="d-flex flex-column align-items-start justify-content-start">
                            <li><a href="{%url 'index'%}">Home</a></li>
                            <li><a href="{%url 'gallery'%}">Gallery</a></li>
                            <li><a href="{%url 'music'%}">Music</a></li>
                            <li><a href="{%url 'events'%}">Events</a></li>
                            <li><a href="{%url 'leaders'%}">Leaders</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {%endblock%}
        {%block home%}
        <!-- Home -->

        <div class="home">
            <div class="home_slider_container">

                <!-- Home Slider -->
                <div class="owl-carousel owl-theme home_slider">

                    <!-- Slide -->
                    <div class="owl-item">
                        <div class="background_image" style="background-image:url({%static 'images/pic7.jpg'%});">
                        </div>
                        <div class="home_container">
                            <div
                                class="home_container_inner d-flex flex-column align-items-center justify-content-center">
                                <div class="home_content text-center">
                                    <div class="home_subtitle">Gospel Choir</div>
                                    <div class="home_title">
                                        <h1>The Family Chorale</h1>
                                    </div>
                                    <div class="home_link"><a
                                            href="https://www.youtube.com/channel/UCDokBn3IHwYCQc6QPVIhECA/videos">Subscribe
                                            on Youtube</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide -->
                    <div class="owl-item">
                        <div class="background_image" style="background-image:url({%static 'images/pic5.jpg'%})"></div>
                        <div class="home_container">
                            <div
                                class="home_container_inner d-flex flex-column align-items-center justify-content-center">
                                <div class="home_content text-center">
                                    <div class="home_subtitle">Gospel Choir</div>
                                    <div class="home_title">
                                        <h1>The Family Chorale</h1>
                                    </div>
                                    <div class="home_link"><a
                                            href="https://m.facebook.com/Family-Chorale-KENYA-251244191951564/">Join us
                                            on Facebook</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide -->
                    <div class="owl-item">
                        <div class="background_image" style="background-image:url({%static 'images/pic4.jpg'%});">
                        </div>
                        <div class="home_container">
                            <div
                                class="home_container_inner d-flex flex-column align-items-center justify-content-center">
                                <div class="home_content text-center">
                                    <div class="home_subtitle">Gospel Choir</div>
                                    <div class="home_title">
                                        <h1>The Family Chorale</h1>
                                    </div>
                                    <div class="home_link"><a href="https://twitter.com/familychorale">Follow Us On
                                            Twitter</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {%endblock%}
        {%block main%}

        {%endblock%}

    </div>
    {%block footer%}
    <!-- Footer -->

    <footer class="footer align-items-center justify-content-center">
        <div class="mt-2 mb-4 text-white rounded-3 text-center">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Connect With Us</h1>
                <hr class="bg-light">
                <div class="container row justify-content-center text-center ">

                    <span class="col-lg-1 col-sm-2">
                        <h1><a href="https://m.facebook.com/Family-Chorale-KENYA-251244191951564/"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a></h1> Facebook
                    </span>
                    <span class="col-lg-1 col-sm-2">
                        <h1><a href="https://twitter.com/familychorale"><i class="fa fa-twitter"
                                    aria-hidden="true"></i></a> </h1>Twitter
                    </span>
                    <span class="col-lg-1 col-sm-2">
                        <h1><a href="https://www.youtube.com/channel/UCDokBn3IHwYCQc6QPVIhECA/videos"><i
                                    class="fa fa-youtube-play" aria-hidden="true"></i></a></h1>Youtube
                    </span>
                </div>

                <p class="container row justify-content-center text-center ">

                <ul class="locarion_icon">
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> Phone : ( +254726953474 ) <em>-
                            Chairperson</em></li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> Phone : ( +254724410648 ) <em>-
                            Secretary</em></li>
                    <li><i class="fa fa-inbox" aria-hidden="true"></i> Email : demo@email.com</li>

                </ul>
                </p>
                <p class="text-warning">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>

                </p>

            </div>


        </div>

    </footer>
    {%endblock%}

    <script src="{%static 'js/jquery-3.2.1.min.js'%}"></script>
    <script src="{%static 'styles/bootstrap-4.1.2/popper.js'%}"></script>
    <script src="{%static 'styles/bootstrap-4.1.2/bootstrap.min.js'%}"></script>
    <script src="{%static 'plugins/greensock/TweenMax.min.js'%}"></script>
    <script src="{%static 'plugins/greensock/TimelineMax.min.js'%}"></script>
    <script src="{%static 'plugins/scrollmagic/ScrollMagic.min.js'%}"></script>
    <script src="{%static 'plugins/greensock/animation.gsap.min.js'%}"></script>
    <script src="{%static 'plugins/greensock/ScrollToPlugin.min.js'%}"></script>
    <script src="{%static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js'%}"></script>
    <script src="{%static 'plugins/easing/easing.js'%}"></script>
    <script src="{%static 'plugins/progressbar/progressbar.min.js'%}"></script>
    <script src="{%static 'plugins/parallax-js-master/parallax.min.js'%}"></script>
    <script src="{%static 'plugins/jPlayer/jquery.jplayer.min.js'%}"></script>
    <script src="{%static 'plugins/jPlayer/jplayer.playlist.min.js'%}"></script>
    <script>document.addEventListener('play', function (e) {
            var audios = document.getElementsByTagName('audio');
            for (var i = 0, len = audios.length; i < len; i++) {
                if (audios[i] != e.target) {
                    audios[i].pause();
                }
            }
        }, true);
    </script>
    
    {%block script%}
    <script src="{%static 'js/custom.js'%}"></script>
    {%endblock%}
</body>

</html>