{%extends 'base.html'%}
{%load static%}
{%block main%}
<!-- Featured Album -->

<div class="featured_album">
	<div class="background_image featured_background" style="background-image:url(images/pic4.jpg)"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<div class="section_title_container">
					<div class="section_subtitle">Music</div>
					<div class="section_title">
						<h1>Featured Album</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row featured_row row-lg-eq-height">

			<!-- Featured Album Image -->
			<div class="col-md-6">
				<div class="featured_album_image">
					<div class="image_overlay"></div>
					<div class="background_image" style="background-image:url({{album.album_art.url}});">
					</div>

				</div>
			</div>

			<!-- Featured Album Player -->
			<div class="col-md-6 featured_album_col mr- justify-content-center">
				{%if album_tracks%}


				<div class="single_players">

					<div class="mt-2 mb-4 text-white bg-dark rounded-3">
						<div class="container-fluid text-primary bg-secondary justify-content-center">
							<br>
							<h2 class="mx-auto text-center mx-1 text-danger" style="font-variant: small-caps;">
								{{album.name}}</h2>
							<br>
							<div class="accordion " id="accordionExample">
								<div class="card bg-secondary">
									{%for track in album_tracks%}
									<div class="card-header" id="headingOne">
										<h2 class="mb-0 row h-10 justify-content-center mx-auto">
											<span class="col-2 p-0"><button class="btn btn-link btn-bg text-left"
													type="button" data-toggle="collapse"
													data-target="#track{{track.id}}" aria-expanded="true"
													aria-controls="track{{track.id}}"><i id="play" class="fa fa-play text-danger"
														aria-hidden="true"></i></button></span>
											<span class="col-8 text-light text-start mx-auto pt-3"
												style="font-size:large">{{track.name}}</span>

											<span class=" col-2 mx-auto justify-content-start"><a
													class="btn btn-primary btn-sm p-1 border border-secondary rounded-pill"
													href="{{track.get_absolute_url}}" role="button">Watch</a></span>
											<button class="btn btn-link btn-block text-left" type="button"
												data-toggle="collapse" data-target="#track{{track.id}}"
												aria-expanded="true" aria-controls="track{{track.id}}">

											</button>
										</h2>
									</div>
									<div id="track{{track.id}}" class="collapse hide" aria-labelledby="headingOne"
										data-parent="#accordionExample">
										<div class="card-body">
											<audio src="{{track.audio.url}}" class="bg-light col-12" controls></audio>
										</div>
									</div>

									{%endfor%}



								</div>
							</div>
						</div>

					</div>
				</div>


			</div>



			{%else%}
			<br>
			<br>
			<div class="container">
				<div class="jumbotron bg-dark">
					<h1 class="display-4 text-warning">No audio records</h1>
					<p class="lead">There are no audio records currently on the system.</p>
					<hr class="my-4">


				</div>
			</div>
			{%endif%}
		</div>

	</div>
</div>
</div>

<!-- Shows -->

<div class="shows">
	<div class="container">
		<div class="row" style="z-index:10;">
			<div class="col">
				<div class="section_title_container">
					<div class="section_subtitle">Events</div>
					<div class="section_title">
						<h1>Upcoming Shows</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row shows_row">
			{%if events%}
			<!-- Shows List -->
			<div class="col-lg-8 order-lg-1 order-2 shows_list_col">
				<div class="shows_list_container">
					<ul class="shows_list  table-responsive-sm">
						{%for event in events%}
						{%if not event.expired%}
						<!-- Show -->
						<li class="d-flex flex-row align-items-center justify-content-start">
							<div>
								<div class="show_date">{{event.date.day}}/{{event.date.month}}</div>
							</div>
							<div
								class="show_info d-flex flex-sm-row flex-column align-items-sm-center align-items-start justify-content-md-start justify-content-center">
								<div class="show_name"><a href="#">{{event.title}}</a></div>
								<div class="show_location">{{event.location}}</div>
							</div>

							<div class="ml-auto d-flex-inline">
								<div class="show_shop trans_200 d-flex-inline"><a href="{%url 'attend'%}">Attend</a>
								</div>
							</div>

						</li>
						{%endif%}
						{%endfor%}


					</ul>
				</div>
			</div>
			{%endif%}
			<!-- Shows Image -->
			<div class="col-lg-4 order-lg-2 order-1">
				<div class="shows_image">
					<div class="image_overlay"></div>
					<img src="{{feat_event.poster.url}}" alt="https://unsplash.com/@anthonydelanoix">
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Artist -->

<div class="artist">
	<div class="container">
		<div class="row">

			<!-- Artist Image -->
			<div class="col-lg-4 artist_image_col">
				<div class="artist_image">
					<img src="{%static 'images/pic4.jpg'%}" alt="">
				</div>
			</div>

			<!-- Artist Content -->
			<div class="col-lg-7 offset-lg-1">
				<div class="artist_content">
					<div class="section_title_container">
						<div class="section_subtitle">About Us</div>
						<div class="section_title">
							<h1>The Family Chorale Kenya</h1>
						</div>
					</div>
					<div class="artist_text">
						<p> We are a Gospel Choir group based in South Nyanza, Kisii to be precise. We organize and
							attend various events around the country. Feel free to ask questions using the contact
							information given below</p>
					</div>
					<div class="artist_sig"><img src="{%static 'images/sig.png'%}" alt=""></div>

				</div>

			</div>
		</div>
	</div>
</div>


{%endblock%}