{%extends 'base.html'%}
{%load static%}
{%block link%}
<link rel="stylesheet" type="text/css" href="{%static 'styles/single.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'styles/single_responsive.css'%}">
{%endblock%}
{%block header%}
<!-- Header -->
<header class="header">
    <div class="header_content d-flex flex-row align-items-center justify-content-center">
        <div class="logo"><a href="#">Family Chorale</a></div>
        <div class="log_reg">
            <ul class="d-flex flex-row align-items-start justify-content-start">
                <li><a href="{%url 'member-add'%}">Become a Member</a></li>

            </ul>
        </div>
        <nav class="main_nav">
            <ul class="d-flex flex-row align-items-start justify-content-start">
                <li><a href="{%url 'index'%}">Home</a></li>
                <li><a href="{%url 'gallery'%}">Gallery</a></li>
                <li class="active"><a href="{%url 'music'%}">Music</a></li>
                <li><a href="{%url 'events'%}">Events</a></li>
                <li><a href="{%url 'leaders'%}">Leaders</a></li>
            </ul>
        </nav>
        <div class="hamburger ml-auto">
            <div class="d-flex flex-column align-items-end justify-content-between">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</header>
{%endblock%}
{%block home%}
<!-- Home -->

<div class="home">
    <div class="home_inner">
        <!-- Image artist: https://unsplash.com/@yoannboyer -->
        <div class="parallax_background parallax-window" data-parallax="scroll"
            data-image-src="{%static 'images/single.jpg'%}" data-speed="0.8"></div>
        <div class="home_container">
            <div class="home_content text-center">
                <div class="home_subtitle">Album</div>
                <div class="home_title">{{album.name}}</div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block main%}
<!-- Single -->

<div class="single">
    <div class="container">
        <div class="row">

            <!-- Single Info -->
            <div class="col-lg-5">
                <div class="single_info">
                    <div class="single_image"><img src="{{album.album_art.url}}" alt=""></div>
                    <div class="single_info_list">
                        <ul>
                            <li><span>Release date: </span>{{album.release_date}}</li>
                            <li><span>Tags: </span>gospel</li>
                            <li><span>Producers: </span>{{album.producer}}</li>
                            <li><span>No of songs: </span>{{album.track_set.count}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Single Content -->
            <div class="col-lg-7 single_content_col">
                <div class="single_players">

					<div class="mt-2 mb-4 text-white bg-dark rounded-3">
						<div class="container-fluid text-primary bg-secondary justify-content-center">
							<br>
							<h2 class="mx-auto text-center mx-1 text-warning" style="font-variant: small-caps;">
								Tracks</h2>
							<br>
							<div class="accordion " id="accordionExample">
								<div class="card bg-secondary">
									{%for track in album.track_set.all%}
									<div class="card-header" id="headingOne">
										<h2 class="mb-0 row h-10 justify-content-center mx-auto">
											<span class="col-2 p-0"><button class="btn btn-link btn-bg text-left"
													type="button" data-toggle="collapse"
													data-target="#track{{track.id}}" aria-expanded="true"
													aria-controls="track{{track.id}}"><i id="play" class="fa fa-play "
														aria-hidden="true"></i></button></span>
											<span class="col-8 text-light text-start mx-auto pt-3"
												style="font-size:large">{{track.name}}</span>

											<span class=" col-2 mx-auto justify-content-start"><a
													class="btn btn-primary btn-sm p-1 border border-secondary rounded-6" href="{{track.get_absolute_url}}"
													role="button">Watch</a></span>
											<button class="btn btn-link btn-block text-left" type="button"
												data-toggle="collapse" data-target="#track{{track.id}}"
												aria-expanded="true" aria-controls="track{{track.id}}">

											</button>
										</h2>
									</div>
									<div id="track{{track.id}}" class="collapse hide" aria-labelledby="headingOne"
										data-parent="#accordionExample">
										<div class="card-body">
											<audio src="{{track.audio.url}}" class="bg-light col-12"
													controls></audio>
										</div>
									</div>

									{%endfor%}
									
									
									
								</div>
							</div>
						</div>

					</div>
				</div>
            </div>
        </div>

    </div>
</div>
</div>

<!-- Video -->




{%endblock%}
{%block script%}
<script src="{%static 'plugins/fit-vids/jquery.fitvids.js'%}"></script>
<script src="{%static 'js/single.js'%}"></script>
{%endblock%}